{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Florar Jr</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/glacial-indifference" type="text/css"/>

    <link rel="shortcut icon" href="{% static 'imagem/logo.png'%}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'bs4/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bs4/bootstrap.min.css' %}" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/js/bootstrap.min.js"></script>

    

</head>

<body>
  <nav class="navbar test navbar-expand-lg navbar-light fixed-top" >
        <a class="navbar-brand" href="/index">
            <img src="{% static 'imagem/logonome.png' %}" alt="Logo" width="200vw" height="72vh">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <script>
          $(document).on('click', function(event) {
              var $target = $(event.target);
              if (!$target.closest('.navbar-collapse').length && !$target.is('.navbar-toggler')) {
                  // Fecha o menu se o clique for fora dele e não no botão
                  $('.navbar-collapse').collapse('hide');
              }
          });
        </script>     
        <div class="collapse navbar-collapse test2" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" >
              <a class="nav-link text-white" id="inicio" href="/index">INÍCIO</a>
              <script>            
                window.addEventListener('load', function() {
                  if (window.innerWidth <= 767) {
                    return; // Não execute o código JavaScript para dispositivos móveis
                  }

                  const inicio = document.querySelector("#inicio");

                  window.addEventListener('scroll', () => {
                    if (window.scrollY > 0 && window.scrollY < 650) {
                      inicio.classList.add('addinicio');
                    } else {
                      inicio.classList.remove('addinicio');
                    }
                  });
                });

              </script>        
            </li>
            
            <li class="nav-item">
              <a class="nav-link text-white" id="quem" href="/index#quemsomos">NOSSA GENTE</a>
  
              <script>
                window.addEventListener('load', function() {
                  if (window.innerWidth <= 767) {
                    return; // Não execute o código JavaScript para dispositivos móveis
                  }

                  const quem = document.querySelector("#quem");
                  
                  window.addEventListener('scroll', () =>{
                    if (window.scrollY > 650 && window.scrollY < 1400) {
                      quem.classList.add('addinicio');
                    }
                    else {
                      quem.classList.remove('addinicio');
                    }
                  });
                });
              </script> 
  
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" id="serv" href="/index#servicos">SERVIÇOS</a>
  
              <script>
                window.addEventListener('load', function() {
                  if (window.innerWidth <= 767) {
                    return; // Não execute o código JavaScript para dispositivos móveis
                  }

                  const serv = document.querySelector("#serv");
                  
                  window.addEventListener('scroll', () =>{
                    if (window.scrollY > 1400 && window.scrollY < 2700) {
                      serv.classList.add('addinicio');
                    }
                    else {
                      serv.classList.remove('addinicio');
                    }
                  });
                });

              </script> 
  
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" id="blog" href="/blog">NOSSO BLOG</a>
  
              <script>
                window.addEventListener('load', function() {
                  if (window.innerWidth <= 767) {
                    return; // Não execute o código JavaScript para dispositivos móveis
                  }

                  const blog = document.querySelector("#blog");

                  window.addEventListener('scroll', () => {
                    if (window.scrollY > 2700 && window.scrollY < 3700) {
                      blog.classList.add('addinicio');
                    } else {
                      blog.classList.remove('addinicio');
                    }
                  });
                });

              </script> 
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" id="contat" href="#footer">CONTATOS</a>
  
              <script>
                window.addEventListener('load', function() {
                  if (window.innerWidth <= 767) {
                    return; // Não execute o código JavaScript para dispositivos móveis
                  }

                  const contat = document.querySelector("#contat");

                  window.addEventListener('scroll', () => {
                    if (window.scrollY > 3700) {
                      contat.classList.add('addinicio');
                    } else {
                      contat.classList.remove('addinicio');
                    }
                  });
                });
              </script> 
            </li>
          </ul>
        </div>
</nav>

<script>
    const nav = document.querySelector('nav');

    window.addEventListener('scroll', () => {
        if (window.scrollY > 0) {
            nav.classList.add('active_nav');
        } else {
            nav.classList.remove('active_nav');
        }
    });
</script>

{% block content %}
{% endblock %}


</body>

</html>
