{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">



    <title>Florar Jr</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/glacial-indifference" type="text/css"/>

    <link rel="shortcut icon" href="{% static 'imagem/logo.png'%}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'bs4/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bs4/bootstrap.min.css' %}" />

    <script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>

    <script type="text/javascript">
        function carregarPagina(url, div) {
        const xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
        if (this.readyState === 4 && this.status === 200) {
        document.getElementById(div).innerHTML = this.responseText;
        }
        };
        xhttp.open("GET", url, true);
        xhttp.send();
        }

        carregarPagina("/membros/", "importblog");
    </script> 

    <script type="text/javascript" scr="{% static 'bs4/bootstrap.min.js'%}"></script>
    <script type="text/javascript">
        function abrirModal1() {
            document.getElementById('modal').style.top = "0";
        }
        function fecharModal1() {
            document.getElementById('modal').style.top = "-310vh";
        }

        function abrirModal2() {
            document.getElementById('modal2').style.top = "0";
        }
        function fecharModal2() {
            document.getElementById('modal2').style.top = "-310vh";
        }

        function abrirModal3() {
            document.getElementById('modal3').style.top = "0";
        }
        function fecharModal3() {
            document.getElementById('modal3').style.top = "-310vh";
        }
        
    </script>
</head>
<body>
    <section class="slider-frame">
        <div class="fotos">
            <img src="{%static 'imagem/foto1.jpg' %}" alt="">
            <img src="{%static 'imagem/foto2.jpg' %}" alt="">
            <img src="{%static 'imagem/foto3.jpg' %}" alt="">
            <img src="{%static 'imagem/foto4.jpg' %}" alt="">
            <img src="{%static 'imagem/foto1.jpg' %}" alt="">  
        </div>   
    </section>


    <div class="div111" width='100%' id="quemsomos">
        
        <div class="div11">
            <div class="slider">
                <div class="slides">

                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">
                    <input type="radio" name="radio-btn" id="radio5">

                    <div class="slide first">
                        <img src="{% static 'imagem/SobreNos1.jpg' %}" alt="">  
                    </div>

                    <div class="slide">
                        <img src="{% static 'imagem/SobreNos2.jpg' %}" alt="">
                    </div>

                    <div class="slide">
                        <img src="{% static 'imagem/SobreNos3.jpg' %}" alt="">
                    </div>

                    <div class="slide">
                        <img src="{% static 'imagem/SobreNos4.jpg' %}" alt="">
                    </div>


                    <div class="navigation-auto">
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>
                        <div class="auto-btn4"></div>
                    </div>

                    <div class="manual-navigation">
                        <label for="radio1" class="manual-btn"></label>
                        <label for="radio2" class="manual-btn"></label>
                        <label for="radio3" class="manual-btn"></label>
                        <label for="radio4" class="manual-btn"></label>
                    </div>


                </div>

                <script type="text/javascript">
                    let count=1;
                    document.getElementById("radio1").checked = true;

                    setInterval( function(){
                        nextImage();
                    }, 5000)

                    function nextImage(){
                        count++;
                        if(count>5){
                            count=1;
                        }

                        document.getElementById("radio"+count).checked = true;
                    }
                    
                </script>
            </div>
        </div>


        <div class="div45">
            <h1 class="texto44">NOSSA GENTE</h1>
            <p class="texto1">
                A Florar Consultoria Ambiental é uma Empresa Júnior
                composta por
                engenheiros florestais em formação na
                Universidade Federal Rural de Pernambuco (UFRPE),
                preparados para lidar com projetos relacionados às áreas
                florestal e ambiental.
                <p class="texto1a">Prestamos serviços de qualidade,
                presando sempre pela ética e responsabilidade
                do planejamento à execução.</p>
            </p>
        </div>
    </div>

    <div class="div3" width='100vw' id="servicos">
        <h6 class="texto4"> SERVIÇOS</h6>
        <div class="agora">
            <div class="divSer">
                <a onclick="abrirModal1()"><img src="{%static 'imagem/arboriza.jpg'' %}" class="opcao"></a>
                <div class="titulomodal">
                    <h7 class="texto">ARBORIZAÇÃO URBANA</h7>
                </div>
                    <div class="bg-modal" id="modal">
                        <div class="bg-image">
                            <button class="close2" onclick="fecharModal1()">&times;</button>
                            <div class="sliderr3">
                                <div class="div1123">
                                    <h7 class="texto33a">PODA E SUPRESSÃO DE ÁRVORES</h7>
                                    <div class="itensdeservico1">
                                        <img src="{%static 'imagem/podaesup.jpg' %}" class="opcaooo">
                                        <p class="textott">
                                            Buscamos as autorizações ambientais de ambos
                                            os serviços junto ao órgão ambiental competente,
                                            de forma que o cliente tenha o mínimo de trabalho
                                            e menor impacto ambiental.                                                                                                                                                     
                                        </p>
                                    </div>
                                </div>
                                <div class="div1123">
                                    <h7 class="texto33">PLANTIO DE MUDAS</h7>
                                    <div class="itensdeservico2">
                                        <img src="{%static 'imagem/plantio.jpg' %}" class="opcaoools">
                                        <p class="textottc1">
                                            Fazemos projetos de implantação de árvores
                                            em ambientes urbanos, como parques industriais,
                                            áreas verdes urbanas particulares e públicas,
                                            de forma a escolher a melhor espécie para as
                                            melhores condições de plantio.                                                                                                                                                    
                                        </p>
                                    </div>
                                </div>
                                <div class="div1123">
                                    <h7 class="texto33">DENDROCIRURGIA</h7>
                                    <div class="itensdeservico3">
                                        <img src="{%static 'imagem/dendrocirurgia.jpg' %}" class="opcaoool">
                                        <p class="textottc2">
                                            Oferecemos essa técnica de recuperação fitossanitária
                                            realizada em árvores que apresentem injúrias ou cavidades
                                            que comprometam a sua estabilidade, oferecendo risco
                                            futuro paraas pessoas e espécies vegetais vizinhas.                                                                                                                                                     
                                        </p>
                                    </div>
                                </div>
                                <div class="div1123">
                                    <h7 class="texto33">COMPENSAÇÃO AMBIENTAL</h7>
                                    <div class="itensdeservico4">
                                        <img src="{%static 'imagem/compensacao.jpg' %}" class="opcaoooc">
                                        <p class="textottc3">
                                            Trabalhamos com esse mecanismo legal que visa
                                            contrabalancear os impactos ambientais previstos
                                            ou já ocorridos na implantação de um empreendimento.
                                            São medidas  a fim de minimizar os impactos sofridos
                                            direta ou indiretamente em um local.                                                                                                                                                     
                                        </p>
                                    </div>
                                </div>
                                <div class="div1123">
                                    <h7 class="texto33">LAUDO TÉCNICO</h7>
                                    <div class="itensdeservico5">
                                        <img src="{%static 'imagem/laudo.jpg' %}" class="opcaoooll">
                                        <p class="textottc4">
                                            Documento simplificado descrevendo
                                            as informações técnicas do local,
                                            como a existência ou não de cobertura
                                            vegetal, recursos hídricos e zoneamentos
                                            de APP (Área de Proteção Permanente),
                                            além de uma imagem de satélite zoneando a área.                                                                                                                                                       
                                        </p>
                                    </div>
                                </div>
                                <div class="div1123">
                                    <h7 class="texto33">PALESTRAS</h7>
                                    <div class="itensdeservico6">
                                        <img src="{%static 'imagem/palestras.jpg' %}" class="opcaooolc1">
                                        <p class="textottcc1">
                                            Ministramos aulas e palestras para crianças,
                                            jovens e adultos, com o objetivo de formar e
                                            capacitar pessoas sobre os mais diversos
                                            assuntos de cunho ambiental,
                                            para conscientização através da boa didática
                                            e a responsabilidade com cada pessoa envolvida.                                                                                                                                               
                                        </p>
                                    </div>
                                </div>
                                <div class="div1123">
                                    <h7 class="texto33">ATIVIDADES DE CAMPO</h7>
                                    <div class="itensdeservico7">
                                        <img src="{%static 'imagem/atividadeemcampo.jpg' %}" class="opcaooolc2">
                                        <p class="textottcc2">
                                            Buscamos transmitir conhecimento de forma
                                            prática e diversa, elaborando atividades
                                            em campo, como oficinas e demais práticas
                                            coletivas, que estimulam a educação ambiental
                                            através do contato com a natureza.                                                                                                                                                        
                                        </p>
                                    </div>
                                </div>
                                <div class="div1123">
                                    <h7 class="texto33">DINÂMICAS</h7>
                                    <div class="itensdeservico8">
                                        <img src="{%static 'imagem/dinamicas.jpg' %}" class="opcaooolc3">
                                        <p class="textottcc3">
                                            Realizamos atividades recreativas,
                                            temáticas ou não, para empresas, escolas,
                                            ONGs e sociedade no geral, com o objetivo de
                                            despertar a consciência ambiental,
                                            destacando a importância do aumento de
                                            práticas sustentáveis e a redução dos danos
                                            ambientais.                                                                                                                                                         
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="botoesservico">
                                <button class="s1" id="prevButton3">Anterior</button>
                                <button class="s1" id="nextButton3">Próximo</button>
                            </div>
                            <script type="text/javascript">
                                var slider3 = document.querySelector('.sliderr3');
                                var slides3 = document.querySelectorAll('.div1123');
                                var prevButton3 = document.querySelector('#prevButton3');
                                var nextButton3 = document.querySelector('#nextButton3');

                                var currentSlide3 = 0; // Índice do slide atual

                                // Função para mostrar o slide atual e ocultar os demais
                                function showSlide3() {
                                slides3.forEach(function(slide3) {
                                    slide3.classList.remove('activee3');
                                });

                                slides3[currentSlide3].classList.add('activee3');
                                updateButtonStates3();
                                }

                                // Verifica e atualiza o estado dos botões de navegação
                                function updateButtonStates3() {
                                prevButton3.disabled = currentSlide3 === 0;
                                nextButton3.disabled = currentSlide3 === slides3.length - 1;
                                }

                                // Adicione um ouvinte de evento para o botão "Anterior"
                                prevButton3.addEventListener('click', function() {
                                previousSlide3();
                                });

                                // Adicione um ouvinte de evento para o botão "Próximo"
                                nextButton3.addEventListener('click', function() {
                                nextSlide3();
                                });

                                // Função para navegar para o slide anterior
                                function previousSlide3() {
                                currentSlide3--;
                                if (currentSlide3 < 0) {
                                    currentSlide3 = 0;
                                }
                                showSlide3();
                                }

                                // Função para navegar para o próximo slide
                                function nextSlide3() {
                                currentSlide3++;
                                if (currentSlide3 >= slides3.length) {
                                    currentSlide3 = slides3.length - 1;
                                }
                                showSlide3();
                                }

                                // Exiba o primeiro slide ao carregar a página
                                showSlide3();

                            </script>
                        </div>
                    </div>
            </div>

        

            <div class="divSer3">
                <a onclick="abrirModal3()"><img src="{%static 'imagem/SilviculturaEManejoFlorestal.jpg' %}" class="opcao"></a>
                <div class="titulomodal">
                    <h7 class="texto">SILVICULTURA E MANEJO FLORESTAL</h7>
                </div>
                <div class="bg-modal3" id="modal3">
                    <div class="bg-image">
                        <button class="close2" onclick="fecharModal3()">&times;</button>
                        <div class="sliderr">
                            <div class="div112">
                                <h7 class="texto33">INVENTÁRIO FLORESTAL</h7>
                                <div class="itensdeservico21">
                                    <img src="{%static 'imagem/Inventario.jpg' %}" class="opcaooo33">
                                    <p class="textottp">
                                        Fazemos o levantamento e acompanhamento de áreas 
                                        florestais naturais ou plantadas, para obtenção de informações
                                        sobre as características qualitativas e quantitativas da vegetação
                                        arbórea e/ou arbustiva-arbórea.                                                                                                                                                      
                                    </p>
                                </div>
                            </div>
                            <div class="div112">
                                <h7 class="texto33">ANÁLISE DE SOLO</h7>
                                <div class="itensdeservico22">
                                    <img src="{%static 'imagem/analise.jpg' %}" class="opcaooox">
                                    <p class="textottcv1">
                                        É um método de diagnóstico dos índices de fertilidade do solo.
                                        É feita através de pequenas porções (amostras) de uma área maior,
                                        e é o principal modo de saber se determinado terreno é adequado para
                                        a cultura pretendida, auxiliando no aumento da produtividade.                                                                                                                                                      
                                    </p>
                                </div>
                            </div>
                            <div class="div112">
                                <h7 class="texto33x3">PLANO DE MANEJO FLORESTAL</h7>
                                <div class="itensdeservico23">
                                    <img src="{%static 'imagem/planodemanejo.jpg' %}" class="opcaooop">
                                    <p class="textottx">
                                        Produzimos documentos técnicos para estabelecer o zoneamento
                                        e as normas que devem presidir o uso da área e o manejo dos
                                        recursos naturais, inclusive a implantação das estruturas
                                        físicas necessárias à sua gestão.                                                                                                                                                     
                                    </p>
                                </div>
                            </div>
                            <div class="div112">
                                <h7 class="texto3334">PLANEJAMENTO E MANEJO DE FLORESTAS PLANTADAS</h7>
                                <div class="itensdeservico24">
                                    <img src="{%static 'imagem/planejamento.jpg' %}" class="opcaooo2">
                                    <p class="textott12">
                                        Auxiliamos o produtor rural que deseja implantar
                                        povoamentos florestais puros ou sistemas agrossilviculturais,
                                        ou que necessite de intervenções em plantios já estabelecidos,
                                        elaborando projetos de implantação e manejo florestal minimizando
                                        custos e maximiza a produtividade de maneira sustentável.
                                    </p>
                                </div>
                            </div>
                            <div class="div112">
                                <h7 class="texto3334">PROJETO DE RECUPERAÇÃO DE ÁREAS DEGRADADAS</h7>
                                <div class="itensdeservico25">
                                    <img src="{%static 'imagem/projetorecupera.jpg' %}" class="opcaooo22">
                                    <p class="textott128">
                                        Realizamos o estudo do PRAD quando solicitado pelos
                                        órgãos ambientais como parte integrante do processo
                                        de licenciamento de atividades degradadoras ou modificadoras
                                        do meio ambiente. E também após o empreendimento ser punido
                                        administrativamente.                                                                                                                                                        
                                    </p>
                                </div>
                            </div>
                            <div class="div112">
                                <h7 class="texto33">PLANEJAMENTO DE SAF'S</h7>
                                <div class="itensdeservico26">
                                    <img src="{%static 'imagem/safs.jpg' %}" class="opcaooo3">
                                    <p class="textott1">
                                        Os Sistemas Agroflorestais (SAF's) são formas de uso ou manejo da terra,
                                        nos quais se combinam espécies arbóreas com cultivos agrícolas, promovendo
                                        benefícios econômicos e ecológicos. Os SAF's diversificam a produção,
                                        além de auxiliar na conservação dos solos, das microbacias e áreas florestais.                                                                                                                                                     
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="botoesservico">
                            <button class="s1" id="prevButton">Anterior</button>
                            <button class="s1" id="nextButton">Próximo</button>
                        </div>
                        <script type="text/javascript">
                            var slider = document.querySelector('.sliderr');
                            var slides = document.querySelectorAll('.div112');
                            var prevButton = document.querySelector('#prevButton');
                            var nextButton = document.querySelector('#nextButton');

                            var currentSlide = 0; // Índice do slide atual

                            // Função para mostrar o slide atual e ocultar os demais
                            function showSlide() {
                            slides.forEach(function(slide) {
                                slide.classList.remove('activee');
                            });

                            slides[currentSlide].classList.add('activee');
                            updateButtonStates();
                            }

                            // Verifica e atualiza o estado dos botões de navegação
                            function updateButtonStates() {
                            prevButton.disabled = currentSlide === 0;
                            nextButton.disabled = currentSlide === slides.length - 1;
                            }

                            // Adicione um ouvinte de evento para o botão "Anterior"
                            prevButton.addEventListener('click', function() {
                            previousSlide();
                            });

                            // Adicione um ouvinte de evento para o botão "Próximo"
                            nextButton.addEventListener('click', function() {
                            nextSlide();
                            });

                            // Função para navegar para o slide anterior
                            function previousSlide() {
                            currentSlide--;
                            if (currentSlide < 0) {
                                currentSlide = 0;
                            }
                            showSlide();
                            }

                            // Função para navegar para o próximo slide
                            function nextSlide() {
                            currentSlide++;
                            if (currentSlide >= slides.length) {
                                currentSlide = slides.length - 1;
                            }
                            showSlide();
                            }

                            // Exiba o primeiro slide ao carregar a página
                            showSlide();

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div1" width='100%'>
        <div class="historia">
            <div class="hist">
                <h10> <b>8</b> </h10>
                <p>ANOS DE HISTÓRIA</p>
            </div>
            <div class="hist">
                <h10> <b>+90</b> </h10>
                <p>PROJETOS REALIZADOS</p>
            </div>
            <div class="hist">
                <h10> <b>+100 </b></h10>
                <p>CLIENTES SATISFEITOS</p>
            </div>
        </div>
    </div>

    <div class="blog">
        <h6 class="texto4b"> NOSSO BLOG</h6>

        <div id="importblog"></div>

        <button class="button2b" onclick="redirecionar()">ACESSE NOSSO BLOG</button>
        <script>
            function redirecionar() {
            window.location.href = '/blog/';
            }
        </script>
    </div>

    <div class="envios">
        <div class="formulario">
            <h11 class="texto44b">FALE CONOSCO</h11>
            <form id="meuFormulario" enctype="multipart/form-data">
                <div>
                    <input type="text" class="sss" placeholder="NOME: " required name="nome" />
                </div>
                <div>
                    <input type="email" class="sss" placeholder="EMAIL: " required name="email" />
                </div>
                <div>
                    <input type="text" class="sss" placeholder="TELEFONE: " required name="telefone" />
                </div>
                <div>
                    <textarea class="sss" placeholder="DEIXE SUA IDEIA: " required name="mensagem"></textarea>
                </div>
                <div>
                    <input type="button" value="ENVIAR" class="ss" id="submitBtn">
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#submitBtn').click(function () {
                // Obtém os dados do formulário
                var formData = $('#meuFormulario').serialize();
    
                // Envia os dados via Ajax
                $.ajax({
                    type: 'POST',
                    url: '{% url "home" %}',  // Atualize com a URL correta para o envio de e-mail
                    data: formData,
                    success: function (data) {
                        // Exibe a mensagem de confirmação
                        alert('Email enviado com sucesso!');
    
                        // Limpa os campos do formulário
                        $('#meuFormulario')[0].reset();
                    },
                    error: function () {
                        // Exibe uma mensagem de erro, se necessário
                        alert('Erro ao enviar o email.');
                    }
                });
            });
        });
    </script>
    <footer class="pt-3 my-md-6 pb-0 container-fluid" id="footer">
        <div class="row">
            <div class="rodape">
                <link rel="stylesheet" type="text/css" href="{% static 'bs4/bootstrap.min.css' %}" />
                <img src="{% static 'imagem/logonome.png' %}" class="logonome"/>
            </div>
            <div class="rodape">
                <div class="col6 col-md xdx">
                    <ul class="list-unstyled text-small">
                        <h2 class="text-light algo"> INFORMAÇÕES <p>DE CONTATO </p></h2>
                        <li> <a class="d-block text-light sps" href="https://goo.gl/maps/6KZvoxPSXj44WNrS9" target="_blank">
                            Rua Dom Manoel, s/n, Dois Irmãos, Recife - PE.<p> Departamento de Ciência Florestal - DCFL / UFRPE</p></a>
                        </li>
                        <li><a class="d-block text-light sps"> (81) 9 8152-2144 </a></li>
                        <li><a class="d-block text-light sps"> florar.ej@gmail.com </a></li>
                    </ul>
                </div>
            </div>
            <div class="rodape">
                <div class="redesSociais xdx">
                    <a href="https://www.facebook.com/florarconsultoriaambientaljr/" target="_blank"><i
                            class="fa fa-facebook face"></i> </a>
                    <a href="https://www.instagram.com/florarconsultoriajr/" target="_blank"><i
                            class="fa fa-instagram"></i> </a>
                    <a href="https://www.linkedin.com/company/florarjr/?originalSubdomain=br" target="_blank"><i
                            class="fa fa-linkedin"></i> </a>
                </div>
            </div>
            <div class="rodape">
                <ul class="list-unstyled text-small">
                    <a class="d-block mb-2 text-light xx">&copy;
                    </a>
                </ul>
            </div>
        </div>
    </footer>
</body>

{% endblock %}