

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membros</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/glacial-indifference" type="text/css"/>

    <link rel="stylesheet" type="text/css" href="{% static 'bs4/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bs4/bootstrap.min.css' %}" />
</head>
<body>

  <div class="container py-4">

          
    <div class="rowblog2">
      {% for post in post_list %}

      <div class="postagem">

        <div class="card">
          <div class="card-body mobile-spacing">
            <img src="{{ post.image.url }}" class="imagemblogd">
            <h5 class="card-title"> {{ post.title|slice:":25" }} </h5>
            <div class="ajudablog">
              <p class="card-text">{{ post.content|truncatewords:15|safe }}</p>
            </div>       
          
          </div>
          <a href="{% url 'post_detail' post.slug %}" class="button2"> LER MAIS </a>   
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>