

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    
    <link rel="shortcut icon" href="{% static 'imagem/logo.png'%}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/glacial-indifference" type="text/css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'bs4/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bs4/bootstrap.min.css' %}" />

    <script type="text/javascript" scr="{% static 'jquery.min.js' %}"></script>

    <script type="text/javascript" scr="{% static 'bs4/bootstrap.min.js'%}"></script>

</head>
<body>
    <div class="dentrodoblog">

        <main class="container py-5">

            <div class="rowwblog">
                <div class="col-sm-6">
                    <img src="{{ post.image.url }}" class="imagemblog" height="600vh" width="600vw" >
                    <h5 class="card-titlee"> {% block title %} {{ object.title }} {% endblock title %} </h5>
                </div>
            </div>
            <div class="paraotexto">
                <p class="card-textt" >{{ object.content | safe}}  </p>

                <a href="{% url 'blog' %}" class="button2x"> Voltar </a>
            </div>


        </main>
    </div>
</body>
</html>
